.buildlog
.DS_Store
.idea
.packages
.pub/
build/
packages
pubspec.lock
/.dart_tool/package_config.json
/.dart_tool/package_config_subset
/.dart_tool/version
/.dart_tool/pub/bin/test/
/.dart_tool/test/
